{% extends 'base.html' %}
{% load static %}
{% block content %}
<center>
<h3 class="mt-4">Order Form</h3>
<form method="POST">
{% csrf_token %}
    <div class="mb-3">
  <label class="form-label">Address</label>
  <input type="text" class="form-control" name="a" placeholder="Enter the address">
        </div>
    <div class="mb-3">
     <label class="form-label">Phone number</label>
     <input type="number" class="form-control" name="p" placeholder="Enter the phone number">
            </div>
    <div class="mb-3">
     <label class="form-label">Account number</label>
     <input type="number" class="form-control" name="n" placeholder="Enter the account number">
            </div>

    <div class="mb-3">
             <input type="submit" class="form-control" >
        </div>

</form>
    </center>
{% endblock %}