{% extends 'base.html' %}
{% load static %}

{% block title %}
Book Search
{% endblock %}

{% block content %}
<center>
<h3 class="mt-4"> You have searched for {{query}}</h3>
    {% if b %}
    <div class="row">
      {% for i in b %}
<div class="col-sm-4 me-2 mb-2">
<div class="card">
    <img src="{{ i.image.url }}" class="card-img-top ">
  <div class="card-body">
    <h5 class="card-title">{{ i.name }}</h5>
    <p class="card-text" ></p>
    <a href="{% url 'shop:detail' i.name %}" class="btn" style="width:100%;">{{ i.name }}</a>
  </div>
</div>
         {% endfor %}
    {% else %}
    <h4>No Result Found</h4>
    {% endif %}
</div>
        </div>
</center>

{% endblock %}